@import 'colorScheme.less';

.tl-ruler {

    height: 20px;
    width : 100%;
    position: relative;
    z-index: 2;

}

.tl-cursor {
    @arrow: 12px;
    @line: 1px;

    position: absolute;
    height: 280px;
    top: 8px;
    width: @line;
    background: @bright;
    box-shadow: 0.5px 0px 2px 0.5px rgba(50, 50, 50, 0.2);

    &:before,
    &:after {
        content: '';
        display: block;
        position: absolute;
        width: @line;
        height: 0;
        left: -@arrow;
        border-left: solid @arrow transparent;
        border-right: solid @arrow transparent;
    }
    &:before{
        top: -5px;
        border-top: solid @arrow+2px @bright;
    }
    &:after{
        bottom: -5px;
        border-bottom: solid @arrow+2px @bright;
    }
}
