@import 'svg.less';
@import 'timeLine.less';
@import 'whiteBoard.less';
@import 'ruler.less';
@import 'page.less';

// CC licensed font
// http://on.be.net/VlvAus
@font-face {
    font-family: 'axis';
    src:
       url('../asset/font/axis.ttf') format('truetype'),
       url('../asset/font/axis.otf') format('otf'),
       url('../asset/font/axis.eot') format('enbedded-opentype'),
       url('../asset/font/axis.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}
